@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

#root {
  margin: 0 auto;
  box-sizing: border-box;
  font-optical-sizing: auto;
  /* background-color: #030712; */
}

a{
  cursor: pointer;
}
